@model Otomasyon.Models.Entity.İliski
@{
    ViewBag.Title = "NotVer";
    Layout = "~/Views/Shared/_LayoutA.cshtml";
}

    <form class="form-group" method="post">
        <div class="form-group">
            <label for="text">Vize</label>
            <input type="text" class="form-control" name="Vize" placeholder="vize">

        </div>
        <div class="form-group">
            <label for="text">Final</label>
            <input type="text" class="form-control" name="Final" placeholder="final">

        </div>

        <button type="submit" class="btn btn-primary">Gir</button>
    </form>


