@model Otomasyon.Models.Entity.Bölümler
@{
    ViewBag.Title = "BölümEkle";
    Layout = "~/Views/Shared/_LayoutPanelimHoca.cshtml";
}

    <form class="form-group" method="post">
        <div class="form-group" >
            <label for="text">Bölüm</label>
            <input type="text" class="form-control" name="BölümAdı" placeholder="Bölüm">
           
        </div>
        
        <button type="submit" class="btn btn-primary">Bölüm Ekle</button>
    </form>

