@model Otomasyon.Models.Entity.Dersler
@{
    ViewBag.Title = "DersEkle";
    Layout = "~/Views/Shared/_LayoutPanelimHoca.cshtml";
}

    <form class="form-group" method="post">
        <div class="form-group">
            <label for="text">Ders</label>
            <input type="text" class="form-control" name="DersAdı" placeholder="Ders">

        </div>
        <div class="form-group">
            <label for="text">Bölüm</label>
            @Html.DropDownListFor(k => k.BölümİD, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form control" })

        </div>
        <div class="form-group">
            <label for="text">Akts</label>
            <input type="text" class="form-control" name="AKTS" placeholder="Akts">

        </div>
        <div class="form-group">
            <label for="text">Sınıf</label>
            <input type="text" class="form-control" name="Sınıf" placeholder="Sınıf">

        </div>

        <button type="submit" class="btn btn-primary">Ders Ekle</button>
    </form>


