@model Otomasyon.Models.Entity.Hocalar
@{
    ViewBag.Title = "HocaEkle";
    Layout = "~/Views/Shared/_LayoutPanelimHoca.cshtml";
}

<form class="form-group" method="post">
    <div class="form-group">
        <label for="text">Hoca</label>
        <input type="text" class="form-control" name="HocaAdi" placeholder="Ders">

    </div>
    <div class="form-group">
        <label for="text">Bölüm</label>
        @Html.DropDownListFor(k => k.BölümİD, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form control" })

    </div>
    <div class="form-group">
        <label for="text">Sifre</label>
        <input type="text" class="form-control" name="sifre" placeholder="Şifre">

    </div>
    <div class="form-group">
        <label for="text">Ünvan</label>
        <input type="text" class="form-control" name="Ünvan" placeholder="Ünvan">

    </div>

    <button type="submit" class="btn btn-primary">Ders Ekle</button>
</form>

