@using Otomasyon.Models.Entity
@model List<Hocalar>
@{
    ViewBag.Title = "HocaListele";
    Layout = "~/Views/Shared/_LayoutPanelimHoca.cshtml";
}


<table class="table table-striped">
    <thead>
        <tr>

            <th scope="col">Ad Soyad</th>
            <th scope="col">Bölüm</th>
            <th scope="col">Ünvab</th>
            <th scope="col">Sil</th>
         
        </tr>
    </thead>
    @foreach (var x in Model)
    {
        <tbody>
            <tr>


                <td>@x.HocaAdi</td>
                <td>@x.Bölümler.BölümAdı </td>
                <td>@x.Ünvan</td>
                <td><a href="/Hocalar/HocaSil/@x.id" class="btn btn-danger">Sil </a></td>

            </tr>

        </tbody>
    }
</table>