
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanelimHoca.cshtml";
}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ad Soyad</th>
                <th scope="col">Sifre</th>
             
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>@Session["Hocaİd"].ToString()</td>
                <td>@Session["AdminAdsoyad"].ToString() </td>
                <td>@Session["AdminSifre"].ToString()</td>
               
            </tr>

        </tbody>
    </table>