@model Otomasyon.Models.Entity.Öğrenci
@{
    ViewBag.Title = "OgrenciEkle";
    Layout = "~/Views/Shared/_LayoutPanelimHoca.cshtml";
}
    <form class="form-group" method="post">
        <div class="form-group">
            <label for="text">İsim</label>
            <input type="text" class="form-control" name="İsimSoyisim" placeholder="İsim">

        </div>
        <div class="form-group">
            <label for="text">Bölüm</label>
            @Html.DropDownListFor(k => k.BölümİD, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form control" })

        </div>
        <div class="form-group">
            <label for="text">Sifre</label>
            <input type="text" class="form-control" name="Sifre" placeholder="Şifre">

        </div>
        <div class="form-group">
            <label for="text">Yas</label>
            <input type="text" class="form-control" name="Yas" placeholder="Yas">

        </div>
        <div class="form-group">
            <label for="text">Telefon</label>
            <input type="text" class="form-control" name="Telefon" placeholder="Telefon">

        </div>
        <div class="form-group">
            <label for="text">Cinsiyet</label>
            <input type="text" class="form-control" name="Cinsiyet" placeholder="Cinsiyet">

        </div>

        <button type="submit" class="btn btn-primary">Ders Ekle</button>
    </form>




